*.swp
bin/*
lib/*
build_data.json
character/*
featuretable_linux.txt
firestorm_48.png
FIRESTORM_DESKTOPINSTALL.txt
firestorm_icon.png
fonts/*
fs_resources/*
licenses.txt
README-linux-joystick.txt
README-linux.txt
README-linux-voice.txt
res-sdl/*
secondlife-i686.supp
skins/*
VivoxAUP.txt
app_settings/*
